[Unit]
Description=Scanner to Hot Folder Service

[Service]
ExecStart=/usr/bin/python3 /mnt/data2024/syncthing/workspace/scanner-monitor.py/scanner-monitor.py
Restart=always
User=www-data
Group=docker
WorkingDirectory=/mnt/data2024/syncthing/workspace/scanner-monitor.py

[Install]
WantedBy=multi-user.target
